

{% if is_paginated %}
    {% load page_tags %}
    <div class="pagination">
        <a href="?page={{ 1 }}" class='pagination-total'>&laquo;</a>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="pagination-total" ><</a>
        {% else %}
            <span class="pagination-total"><</span>
        {% endif %}
        {% for i in paginator|proper_paginate:page_obj.number %}
            {% if page_obj.number == i %}
                <span class="pagination-current">{{ i }}</span>
            {% else %}
                <a href="?page={{ i }}" class="pagination-total">{{ i }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="pagination-total">></a>
        {% else %}
            <span class="pagination-total">></span>
        {% endif %}
        <a href="?page={{ paginator.num_pages }}" class="pagination-total">&raquo;</a>
    </div>
{% endif %}

