{% load thumbnail %}
{% load i18n %}

<div class="col-lg-8">
    <div class="single-gallery">
        <div class="content">
            <a href="{{ project.get_absolute_url }}">
              <div class="content-overlay"></div>
                {% with project.first_image as image %}
                    {% if image %}
                        {% thumbnail image "730x370" crop='center' as img %}
                            <img class="content-image img-fluid d-block mx-auto" style="border-radius: 10px" src="{{ img.url }}" height="370" alt="">
                        {% endthumbnail %}

                    {% endif %}
                {% endwith %}
              <div class="content-details fadeIn-bottom">
                <h3 class="content-title mx-auto">{{ project.title }}</h3>
                <a href="{{ project.get_absolute_url }}"  class="primary-btn text-uppercase mt-20">{% trans 'More Details' %}</a>
              </div>
            </a>
        </div>
    </div>
</div>