[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
django-phonenumber-field = {extras = ["phonenumbers"],version = "*"}
pillow = "*"
django-ckeditor = "*"
sorl-thumbnail = "*"
django-suit = "*"
django-allauth = "*"
django-rosetta = "*"

[requires]
python_version = "3.8"
