{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load design_tags %}

{% block title %}
    {% trans 'About Us' %}
{% endblock title %}

{% block title2 %}
    {% trans 'About Us' %}
{% endblock title2 %}

{% block top %}
    <p class="text-white link-nav">
        <a href="{% url 'pages:home' %}"> {% trans 'Home' %} </a>
        <span class="lnr lnr-arrow-right"></span>
        <a href="{% url 'pages:about' %}"> {% trans 'About Us' %} </a>
    </p>
{% endblock top %}

{% block conteiner %}

    <!-- Start about-video Area -->
    <section class="about-video-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-20 header-text text-center">
                    {% about_texts as texts %}
                    {% if texts.big_page_title or texts.small_page_title %}
                        <h1 class="mb-10">{{ texts.big_page_title|safe }}</h1>
                        <p>{{ texts.small_page_title|safe }}</p>
                    {% else %}
                        {% blocktrans %}
                            <h1>
                                We’ve made a life <br>
                                that will change you

                            </h1>
                            <p>
                                <span>We are here to listen from you deliver exellence</span>
                            </p>
                        {% endblocktrans %}
                    {% endif %}
                    <p class="mt-20">
                        {% blocktrans %}
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                        {% endblocktrans %}
                    </p>
{#                    <a class="primary-btn mt-30" href="#">{% trans 'Get Started Now' %}</a>#}

                </div>
{#                <div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex relative">#}
{#                    <div class="overlay overlay-bg"></div>#}
{#                    <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto" src="img/play-btn.png" alt=""></a>#}
{#                </div>#}
            </div>
        </div>
    </section>
    <!-- End about-video Area -->

    <section class="gallery-area pt-40">
        <div class="container">
            {% include 'include/callto-action.html' %}

            {% include 'include/feature.html' %}
            {% include 'include/service.html' %}
            {% include 'include/testimonial.html' %}

            {% include 'include/team.html' %}
            {% include 'include/news.html' %}
            {% include 'include/brands.html' %}
        </div>
    </section>

{% endblock conteiner %}