{% extends 'base.html' %}
{% load parler_tags %}

{% load static %}
{% load i18n %}
{% load design_tags %}

{% block title %}
    {% about_texts as texts %}
    {% if texts.active %}
        {% if texts|get_translated_field:'browser_title' %}
            {% with texts|get_translated_field:'browser_title' as titl %}
                {{ titl|safe }}
            {% endwith %}
        {% else %}
            {% trans 'About Us' %}
        {% endif %}
    {% else %}
        {% trans 'About Us' %}
    {% endif %}
{% endblock title %}

{% block title2 %}
    {% about_texts as texts %}
    {% if texts.active %}
        {% if texts|get_translated_field:'banner_big_text' %}
            {% with texts|get_translated_field:'banner_big_text' as titl %}
                {{ titl|safe }}
            {% endwith %}
        {% endif %}
    {% else %}
        {% trans 'About Us' %}
    {% endif %}
{% endblock title2 %}

{% block top %}
    {% design_settings as design %}
    {% if design.top_navigation %}
        <p class="text-white link-nav">
            <a href="{% url 'pages:home' %}"> {% trans 'Home' %} </a>
            <span class="lnr lnr-arrow-right"></span>
            <a href="{% url 'pages:about' %}"> {% trans 'About Us' %} </a>
        </p>
    {% endif %}
{% endblock top %}

{% block conteiner %}

    <!-- Start about-video Area -->
    <section class="about-video-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-20 header-text text-center">
                    {% about_texts as texts %}
                    {% if texts.active %}
                        {% if texts|get_translated_field:'big_page_title' or texts|get_translated_field:'small_page_title' %}
                            {% with texts|get_translated_field:'big_page_title' as big %}
                                <h1 class="mb-10">{{ texts.big_page_title|safe }}</h1>
                            {% endwith %}
                            {% with texts|get_translated_field:'small_page_title' as small %}
                                <p>{{ small|safe }}</p>
                            {% endwith %}

                            {% with texts|get_translated_field:'add_other_text' as other %}
                                <p class="mt-20">{{ other|safe }}</p>
                            {% endwith %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- End about-video Area -->

    <section class="gallery-area pt-40">
        <div class="container">
            {% include 'include/callto-action.html' %}

            {% include 'include/feature.html' %}
            {% include 'include/service.html' %}
            {% include 'include/testimonial.html' %}

            {% include 'include/team.html' %}
            {% include 'include/news.html' %}
            {% include 'include/brands.html' %}
        </div>
    </section>

{% endblock conteiner %}