{% extends 'base.html' %}
{% load parler_tags %}

{% load static %}
{% load page_tags %}
{% load i18n %}
{% load design_tags %}

{% block title %}
    {% block title2 %}
        {% contact_texts as texts %}
        {% if texts.active %}
            {% if texts|get_translated_field:'browser_title' %}
                {% with texts|get_translated_field:'browser_title' as titl %}
                    {{ titl|safe }}
                {% endwith %}
            {% else %}
                {% trans 'Contact Us' %}
            {% endif %}
        {% endif %}
    {% endblock title2 %}
{% endblock title %}


{% block top %}
    <p class="text-white link-nav">
        <a href="{% url 'pages:home' %}"> {% trans 'Home' %} </a>
        <span class="lnr lnr-arrow-right"></span>
        <a href="{% url 'pages:contact' %}"> {% trans 'Contact Us' %} </a>
    </p>
{% endblock top %}


{% block conteiner %}
    <!-- Start contact-page Area -->
    <section class="contact-page-area section-gap pt-0">
        <div class="container">
            <div class="row align-items-center mb-80">
                <div class="col-lg-12 about-video-left">
                    {% contact_texts as texts %}
                    {% if texts.big_page_title or texts.small_page_title %}
                        <h1 class="mb-10">{{ texts.big_page_title|safe }}</h1>
                        <p>{{ texts.small_page_title|safe }}</p>
                    {% else %}
                        <h1>
                            {% trans 'Company' %}
                        </h1>
                        <p>
                            <span>
                                {% blocktrans %}
                                    about company
                                {% endblocktrans %}
                            </span>
                            <br>
                        </p>
                    {% endif %}
                    {% company as contact %}
                    {% if contact.active %}
                        <div class="details-info d-flex flex-row mt-20" style="color: black">
                            <ul class="names mr-20">
    {#                            <li>Rating    </li>#}
                                {% if contact.company_name %}
                                    <li> {% trans 'Company  ' %}</li>
                                {% endif %}
                                {% if contact.registation_number %}
                                    <li> {% trans 'Registation №' %}</li>
                                {% endif %}
                                {% if contact.address_inline %}
                                    <li> {% trans 'Adress' %}</li>
                                {% endif %}
                                {% if contact.email %}
                                    <li> {% trans 'Email' %}</li>
                                {% endif %}
                                {% if contact.phone_number %}
                                    <li> {% trans 'Phone Number' %}</li>
                                {% endif %}
                                {% if contact.languages %}
                                    <li> {% trans 'Langueges' %}</li>
                                {% endif %}
                                {% if contact.info %}
                                    <li></li>
                                {% endif %}
                            </ul>
                            <ul class="desc">
    {#                            <li>#}
    {#                                <div class="star">#}
    {#                                    : <span class="fa fa-star checked"></span>#}
    {#                                    <span class="fa fa-star checked"></span>#}
    {#                                    <span class="fa fa-star checked"></span>#}
    {#                                    <span class="fa fa-star checked"></span>#}
    {#                                    <span class="fa fa-star checked"></span>#}
    {##}
                                        {#<span class="fa fa-star"></span>#}
    {#                                </div>#}
    {#                            </li>#}
                                {% if contact.company_name %}
                                    <li>: {{ contact.company_name }}</li>
                                {% endif %}
                                {% if contact.registation_number %}
                                    <li>: {{ contact.registation_number }}</li>
                                {% endif %}
                                {% if contact.address_inline %}
                                    <li>: {{ contact.address_inline }}</li>
                                {% endif %}
                                {% if contact.email %}
                                    <li>: {{ contact.email }}</li>
                                {% endif %}
                                {% if contact.phone_number %}
                                    <li>: {{ contact.phone_number }}</li>
                                {% endif %}
                                {% if contact.info %}
                                    <li>{{ contact.info|safe }}</li>
                                {% endif %}
                                {% if contact.facebook or contact.instagram or contact.twitter %}
                                    <li>
                                        <ul class="names mt-20">
                                            <div class="details-info d-flex flex-row">
                                                <li class="ml-10"></li>
                                                {% if contact.facebook %}
                                                    <li><a href="{{ contact.facebook }}" target="_blank"><i class="fa fa-facebook mr-20"></i></a></li>
                                                {% endif %}
                                                {% if contact.instagram %}
                                                    <li><a href="{{ contact.instagram }}" target="_blank"><i class="fa fa-instagram mr-20"></i></a></li>
                                                {% endif %}
                                                {% if contact.twitter %}
                                                    <li><a href="{{ contact.twitter }}" target="_blank"><i class="fa fa-twitter mr-20"></i></a></li>
                                                {% endif %}
                                            </div>
                                        </ul>
                                    </li>


                                {% endif %}
                            </ul>
                        </div>

                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="row">
{#                <div class="map-wrap" style="width:100%; height: 445px;" id="map"></div>#}
                {% company as contacts %}
                <div class="col-lg-4 d-flex flex-column address-wrap">
                    <div class="single-contact-address d-flex flex-row">
                        <div class="icon">
                            <span class="lnr lnr-home"></span>
                        </div>
                        <div class="contact-details">
                            {% if contacts.active and contacts.address %}
                                <h5>{{ contacts.country }}</h5>
                                <p>
                                    {{ contacts.postal_code }} {{ contacts.city }} <br>
                                    {{ contacts.address }}
                                </p>
                            {% else %}
                                <h5>{% trans 'Tallinn, Estonia' %}</h5>
                                <p>
                                    {% trans 'Pronksi 9, 10124 Tallinn' %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="single-contact-address d-flex flex-row">
                        <div class="icon">
                            <span class="lnr lnr-phone-handset"></span>
                        </div>
                        <div class="contact-details">
                            {% if contacts.active and contacts.phone_number %}
                                <h5>{{ contacts.phone_number }}</h5>
                            {% else %}
                                <h5>+372 555 5665</h5>
                            {% endif %}
                            {% if contacts.active and contacts.time_for_colling %}
                                <p>{{ contacts.time_for_colling }}</p>
                            {% endif %}

                        </div>
                    </div>
                    <div class="single-contact-address d-flex flex-row">
                        <div class="icon">
                            <span class="lnr lnr-envelope"></span>
                        </div>
                        <div class="contact-details">
                            {% if contacts.active and contacts.email %}
                                <h5>{{ contacts.email }}</h5>
                            {% else %}
                                <h5>info@default.ee</h5>
                            {% endif %}
                            <p>{% trans 'Send us your query anytime!' %}</p>
                        </div>
                    </div>
                </div>

                {% contact_form_tag as contact_f %}
                {% if contact_f.contact_form %}
                    <div class="col-lg-8">
                        <form class="form-area" id="myForm" action="{% url 'pages:contact' %}" method="post" class="contact-form text-right">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-lg-6 form-group">
                                    <input name="name" placeholder="{% trans 'Enter your name' %}" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">

                                    <input name="email" placeholder="{% trans 'Enter email address' %}" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email">

                                    <input name="subject" placeholder="{% trans 'Enter your subject' %}" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your subject'" class="common-input mb-20 form-control" required="" type="text">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <textarea class="common-textarea form-control" name="message" placeholder="{% trans 'Messege' %}" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                </div>
                                <div class="col-lg-12">
                                    <input type="submit" class="genric-btn primary circle" style="float: right; border-radius: 15px; height: 50px; padding-top: 2px; padding-bottom: 2px; padding-left: 20px; padding-right: 20px" value="{% trans 'Send Message' %}">
                                </div>
                            </div>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- End contact-page Area -->
{##}
{#    <script>#}
{#        // Initialize and add the map#}
{#        function initMap() {#}
{#          // The location of Uluru#}
{#          var uluru = {lat: 59.436, lng: 24.765};#}
{#          // The map, centered at Uluru#}
{#          var map = new google.maps.Map(#}
{#              document.getElementById('map'), {zoom: 4, center: uluru});#}
{#          // The marker, positioned at Uluru#}
{#          var marker = new google.maps.Marker({position: uluru, map: map});#}
{#        }#}
{#    </script>#}
{#    <!--Load the API from the specified URL#}
{#    * The async attribute allows the browser to render the page while the API loads#}
{#    * The key parameter will contain your own API key (which is not needed for this tutorial)#}
{#    * The callback parameter executes the initMap() function#}
{#    -->#}
{#    <script async defer#}
{#        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGAus615KAgV6_UHnzASc4nlmWXxorOVo&callback=initMap">#}
{#    </script>#}
{##}

{% endblock conteiner %}