{% extends '_base.html' %}

{% load static %}
{% load i18n %}


{% block title %}
    {% trans 'Home' %}
{% endblock title %}

{% block base %}

    {% include 'include/bannerbigtop.html' %}

    <section class="gallery-area pt-40">
        <div class="container">
            {% include 'include/gallery.html' %}
            {% include 'include/service.html' %}
            {% include 'include/team.html' %}
            {% include 'include/feature.html' %}
            {% include 'include/testimonial.html' %}
            {% include 'include/callto-action.html' %}
            {% include 'include/news.html' %}
            {% include 'include/brands.html' %}
        </div>
    </section>


{% endblock base %}