{% extends 'base.html' %}

{% load static %}
{% load i18n %}


{% block title %}
    News
{% endblock title %}

{% block title2 %}
    News
{% endblock title2 %}

{% block top %}
    <p class="text-white link-nav">
        <a href="{% url 'pages:home' %}"> Home </a>
        <span class="lnr lnr-arrow-right"></span>
        <a href="{% url 'pages:news' %}"> News </a>
    </p>
{% endblock top %}

{% block conteiner %}

    <!-- Start service Area -->
    <section class="service-area section-gap" id="service">
        <div class="container">
            <div class="justify-content-center">
                <div class="col-md-12 pb-50 header-text text-center">
                    <h1 class="mb-10">News</h1>
                </div>
            </div>

            {% for page in news_list %}
                <a href="{{ page.get_absolute_url }}">
                    <div class="section-top-border p-4">
                        <h3 class="mb-10">{{ page.title }}</h3>
                        <div class="row">
                            <div class="col-lg-12">
                                <blockquote class="generic-blockquote">
                                    <p style="color: grey">{{ page.published }}</p>
                                    <p style="color: black">{{ page.short_description }}</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
            {% include 'include/pagination.html' %}
        </div>
    </section>
    <!-- End service Area -->

{% endblock conteiner %}