{% extends 'base.html' %}
{% load thumbnail %}

{% load static %}
{% load i18n %}
{% load design_tags %}

{% block title %}
    {% trans 'News' %} '{{ news.title }}'
{% endblock title %}

{% block title2 %}
    {% trans 'News' %} '{{ news.title }}'
{% endblock title2 %}

{% block top %}
    <p class="text-white link-nav">
        <a href="{% url 'pages:home' %}"> {% trans 'Home' %} </a>
        <span class="lnr lnr-arrow-right"></span>
        <a href="{% url 'pages:news' %}"> {% trans 'News' %} </a>
    </p>
{% endblock top %}

{% block conteiner %}
    <section class="service-area section-gap" id="service">
        <div class="container">
{#            <h1 class="mb-50 text-center">{{ news.title }}</h1>#}
            <div class="justify-content-center">
                <div class="col-md-12 pb-50 header-text text-center">
                    <h1 class="mb-10">{{ news.title }}</h1>
                    {% news_detail_texts as texts %}
                    {% if texts.small_page_title %}
                        <p class="mb-10"><span>{{ texts.small_page_title|safe }}</span></p>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-12 justify-content-center">
                {% with news.image as image %}
                    {% if image %}
                        {% thumbnail image "1000x600" crop='center' as img %}
                            <img class="img-fluid d-block mx-auto" style="border-radius: 10px"  src="{{ img.url }}" height="600" alt="">
                        {% endthumbnail %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="section-top-border p-4">
                <div class="row">
                    <div class="col-lg-12">
                        <blockquote class="generic-blockquote">
                            <p style="color: grey">{{ news.published }}</p>
                            <p style="color: black">{{ news.short_description|safe }}</p>
                            <p style="color: black">{{ news.description|safe }}</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock conteiner %}