{% extends 'base.html' %}
{% load thumbnail %}

{% load static %}
{% load page_tags %}
{% load i18n %}
{% load text_tags %}

{% block title %}
    {% trans 'Our Team' %}
{% endblock title %}

{% block title2 %}
    {% trans 'Our Team' %}
{% endblock title2 %}

{% block top %}
    <p class="text-white link-nav">
        <a href="{% url 'pages:home' %}"> {% trans 'Home' %} </a>
        <span class="lnr lnr-arrow-right"></span>
        <a href="{% url 'pages:people' %}"> {% trans 'People' %} </a>
    </p>
{% endblock top %}

{% block conteiner %}

    <!-- Start gallery Area -->
    <section class="gallery-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 pb-40 header-text text-center">
                    {% people_list_texts as texts %}
                    {% if texts.big_page_title or texts.small_page_title %}
                        <h1 class="pb-10">{{ texts.big_page_title }}</h1>
                        <p>{{ texts.small_page_title }}</p>
                    {% else %}
                        <h1 class="pb-10">{% trans 'Our Team may impress you' %}</h1>
                        <p>
                            {% trans 'Who are in extremely love with eco friendly system.' %}
                        </p>
                    {% endif %}
                </div>

                <div class="col-md-12 pb-10 header-text text-center">
                    <div class="row pb-15 pt-30 justify-content-center ml-20 mr-20" style="float: none">
                        <a class="primary-btn mt-30 ml-10" href="{% url 'pages:people' %}">{% trans 'All People' %}</a>
                        {% profile_categories as categories %}
                        {% for categ in categories %}
                            <a class="primary-btn mt-30 ml-10" href="{{ categ.get_absolute_url }}">{{ categ.title }}</a>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-12 pb-10 header-text text-center">
                    <h3 class="pb-15 pt-30">
                        {% if category %}
                            <div style="text-align: center">{% trans 'Category' %}: {{ category.title }}</div>
                        {% else %}
                            <div style="text-align: center">{% trans 'All People:' %}</div>
                        {% endif %}
                    </h3>
                </div>
            </div>

            {% for pr in people_list %}
                <div class="row">
                    {% with pr.0 as profile %}
                        {% include 'include/pages/people.html' %}
                    {% endwith %}
                    {% if pr.1 %}
                        {% with pr.1 as profile %}
                            {% include 'include/pages/people.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if pr.2 %}
                        {% with pr.2 as profile %}
                            {% include 'include/pages/people.html' %}
                        {% endwith %}
                    {% endif %}
                </div>
            {% endfor %}
            {% include 'include/pagination.html' %}
        </div>
    </section>
    <!-- End gallery Area -->

{% endblock conteiner %}