{% extends 'base.html' %}
{% load parler_tags %}

{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load design_tags %}

{% block title %}
    {% profile_texts as texts %}
    {% if texts.active %}
        {% if texts|get_translated_field:'browser_title' %}
            {% with texts|get_translated_field:'browser_title' as titl %}
                {{ titl|safe }} {% if texts.add_name %} {{ profile.first_name }} {{ profile.last_name }} {% endif %}
            {% endwith %}
        {% else %}
            {{ profile.first_name }} {{ profile.last_name }}
        {% endif %}
    {% else %}
        {{ profile.first_name }} {{ profile.last_name }}
    {% endif %}
{% endblock title %}

{% block title2 %}
    {% profile_texts as texts %}
    {% if texts.active %}
        {% if texts|get_translated_field:'banner_big_text' %}
            {% with texts|get_translated_field:'banner_big_text' as titl %}
                {{ titl|safe }} {% if texts.add_name %} {{ profile.first_name }} {{ profile.last_name }} {% endif %}
            {% endwith %}

        {% endif %}
    {% else %}
        {{ profile.first_name }} {{ profile.last_name }}
    {% endif %}
{% endblock title2 %}

{% block top %}
    {% design_settings as design %}
    {% if design.top_navigation %}
        <p class="text-white link-nav">
            <a href="{% url 'pages:home' %}"> {% trans 'Home' %} </a>
            <span class="lnr lnr-arrow-right"></span>
            <a href="{% url 'pages:people' %}"> {% trans 'People' %} </a>
        </p>
    {% endif %}
{% endblock top %}

{% block conteiner %}

    {{ qqq }}
    <!-- Start project-details Area -->
    <section class="project-details-area section-gap">
        <div class="container" style="color: black">
            <div class="row">
                <div class="col-lg-6 project-details-left">
                    {% with profile.image as image %}
                        {% if image %}
                            {% thumbnail image "520x520" crop='center' as img %}
                                <img class="img-fluid d-block mx-auto" style="border-radius: 10px"  src="{{ img.url }}" height="520" alt="">
                            {% endthumbnail %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="col-lg-6 project-details-right">
                    <h3 class="pb-20 pt-20">{{ profile.get_name }}</h3>
                    <p>
                        {{ profile.short_description|safe }}
                    </p>
                    <div class=" details-info d-flex flex-row mt-20">
                        <table class="names" style="vertical-align: top">
{#                            <li>Rating    </li>#}
                            {% if profile.email %}
                                <tr>
                                    <td> {% trans 'Email' %}    </td>
                                    <td>:</td>
                                    <td> <a href="mailto:{{ profile.email }}">{{ profile.email }}</a> </td>
                                </tr>
                            {% endif %}
                            {% if profile.phone_number %}
                                <tr>
                                    <td> {% trans 'Phone number' %}    </td>
                                    <td>:</td>
                                    <td> <a href="tel:{{ profile.phone_number }}">{{ profile.phone_number }}</a> </td>
                                </tr>
                            {% endif %}
                            <tr>
                                    <td> {% trans 'Started work' %}     </td>
                                    <td>:</td>
                                    <td> {{ profile.start_work }} </td>
                                </tr>

                            {% category_settings as category_set %}
                            {% if category_set.profile_category %}
                                <tr>
                                    <td> {% trans 'Category' %}     </td>
                                    <td>:</td>
                                    <td>
                                        {% for categ in profile.profile_category.all %}
                                            <b><a href="{{ categ.get_absolute_url }}">{{ categ.title }}</a></b>,
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
{#                              <li>#}
{#                                <div class="star">#}
{#                                    : <span class="fa fa-star checked"></span>#}
{#                                    <span class="fa fa-star checked"></span>#}
{#                                    <span class="fa fa-star checked"></span>#}
{#                                    <span class="fa fa-star checked"></span>#}
{#                                    <span class="fa fa-star checked"></span>#}
{##}
                                    {#<span class="fa fa-star"></span>#}
{#                                </div>#}
{#                            </li>#}
                        </table>
                    </div>
                    <div class="social-links mt-30">
                        {% if profile.facebook %}
                            <a href="https://{{ profile.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                        {% endif %}
                        {% if profile.twitter %}
                            <a href="https://{{ profile.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                        {% endif %}
{#                        <a href="#"><i class="fa fa-dribbble"></i></a>#}
{#                        <a href="#"><i class="fa fa-behance"></i></a>#}
{#                        <a href="#"><i class="fa fa-linkedin"></i></a>#}
                    </div>
                </div>
            </div>


            <div class="col-lg-12 project-desc mt-60 mb-60">
                <p>
                    {{ profile.description|safe }}
                </p>
            </div>
            <div class="col-lg-12 project-desc mt-60 mb-60">
                {% if profile.projects.all %}
                    <h3 class="text-center mt-30 mb-30"> {% trans 'Projects' %}: </h3>
                    {% for pr in projects %}
                        <div class="row">
                            {% with pr.0 as project %}
                                {% include 'include/pages/projects8.html' %}
                            {% endwith %}
                            {% if pr.1 %}
                                {% with pr.1 as project %}
                                    {% include 'include/pages/projects4.html' %}
                                {% endwith %}
                            {% endif %}
                        </div>
                        <div class="row">
                            {% if pr.2 %}
                                {% with pr.2 as project %}
                                    {% include 'include/pages/projects4.html' %}
                                {% endwith %}
                            {% endif %}
                            {% if pr.3 %}
                                {% with pr.3 as project %}
                                    {% include 'include/pages/projects8.html' %}
                                {% endwith %}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            {% profile_texts as texts %}
            {% if texts.active %}
                {% if texts|get_translated_field:'small_page_title' %}
                    <div class="col-md-12 mb-20 header-text text-center">
                        <hr>
                        {% with texts|get_translated_field:'small_page_title' as small %}
                            <p>{{ small|safe }}</p>
                        {% endwith %}
                    </div>
                {% endif %}
            {% endif %}
                
        </div>
    </section>
    <!-- End project-details Area -->
{% endblock conteiner %}