{% extends '_base.html' %}

{% load static %}
{% load thumbnail %}

{% block title %}
our projects
{% endblock title %}

{% block conteiner %}

    <h1>{{ project.title }}</h1>
    {{ project.website }}
    <hr>
    <!-- Start gallery Area -->
    <section class="gallery-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 pb-40 header-text text-center">
                    <h1 class="pb-10">Our Recent Works may impress you</h1>
                    <p>
                        Who are in extremely love with eco friendly system.
                    </p>
                </div>
            </div>
            {% for pr in project_list %}
                {% include 'include/pages/projects.html' %}
                {% include 'include/pagination.html' %}
            {% endfor %}

        </div>
    </section>
    <!-- End gallery Area -->

{% endblock conteiner %}