{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load design_tags %}

{% block title %}
    {% trans 'Project' %} "{{ project.title }}"
{% endblock title %}

{% block title2 %}
    {% trans 'Project' %} "{{ project.title }}"
{% endblock title2 %}

{% block top %}
    <p class="text-white link-nav">
        <a href="{% url 'pages:home' %}"> {% trans 'Home' %} </a>
        <span class="lnr lnr-arrow-right"></span>
        <a href="{% url 'pages:projects' %}"> {% trans 'Projects' %} </a>
    </p>
{% endblock top %}


{% block conteiner %}

    <!-- Start project-details Area -->
    <section class="project-details-area section-gap">
        <div class="container" style="color: black">
            <div class="row">
                <div class="col-lg-6 project-details-left">
                    {% with project.first_image as image %}
                        {% if image %}
                            {% thumbnail image "520x295" crop='center' as img %}
                                <img class="img-fluid d-block mx-auto" style="border-radius: 10px"  src="{{ img.url }}" height="370" alt="">
                            {% endthumbnail %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="col-lg-6 project-details-right" style="vertical-align: top">
                    <h3 class="pb-20 pt-20">{{ project.title }}</h3>
                    <p>
                        {{ project.short_description|safe }}
                    </p>

                    <div class=" details-info d-flex flex-row">
                        <table class="names" style="vertical-align: top">
{#                            <li>Rating    </li>#}
                            {% if project.client %}
                                <tr>
                                    <td> {% trans 'Client' %}    </td>
                                    <td>:</td>
                                    <td> {{ project.client }}</td>
                                </tr>
                            {% endif %}

                            <tr>
                                <td> {% trans 'Completed' %}    </td>
                                <td>:</td>
                                <td> {{ project.completed }}</td>
                            </tr>

                            {% if project.website %}
                                <tr>
                                    <td> {% trans 'Website' %}    </td>
                                    <td>:</td>
                                    <td> <a href="https://{{ project.website }}" target="_blank">{{ project.website }}</a></td>
                                </tr>
                            {% endif %}
                            {% if project.project_team.all %}
                                <tr>
                                    <td> {% trans 'Team' %}   </td>
                                    <td>:</td>
                                    <td>

                                        {% for profile in project.project_team.all %}
                                            <b><a href="{{ profile.get_absolute_url }}" target="_blank">{{ profile.get_name }}</a></b>,
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if project.project_category.all %}
                                <tr>
                                    <td> {% trans 'Category' %}    </td>
                                    <td>:</td>
                                    <td>
                                        {% for categ in project.project_category.all %}
                                            <b><a href="{{ categ.get_absolute_url }}" target="_blank">{{ categ.title }}</a></b>,
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
{#                        <ul class="desc">#}
{#                            <li>#}
{#                                <div class="star">#}
{#                                    : <span class="fa fa-star checked"></span>#}
{#                                    <span class="fa fa-star checked"></span>#}
{#                                    <span class="fa fa-star checked"></span>#}
{#                                    <span class="fa fa-star checked"></span>#}
{#                                    <span class="fa fa-star checked"></span>#}
{##}
                                    {#<span class="fa fa-star"></span>#}
{#                                </div>#}
{#                            </li>#}
{##}
{##}
{#                            #}
{#                        </ul>#}
                    </div>
{#                    <div class="social-links mt-30">#}
{#                        <a href="#"><i class="fa fa-facebook"></i></a>#}
{#                        <a href="#"><i class="fa fa-twitter"></i></a>#}
{#                        <a href="#"><i class="fa fa-dribbble"></i></a>#}
{#                         <a href="#"><i class="fa fa-behance"></i></a>#}
{#                        <a href="#"><i class="fa fa-linkedin"></i></a>#}
{#                    </div>#}
                </div>

                <div class="col-lg-12 project-desc mt-60 mb-60" style="color: black">
                    <p>
                        {{ project.description|safe }}
                    </p>
                </div>
            </div>
{#            <img class="content-image img-fluid d-block mx-auto" style="border-radius: 10px"  src="{{ images.first.first.image.url }}" height="370" alt="">#}
            {% if images %}
                {% for img in images %}
                    <div class="row">
                        {% with img.0 as image %}
{#                            <img class="content-image img-fluid d-block mx-auto" style="border-radius: 10px"  src="{{ image.image.url }}" height="370" alt="">#}

                            {% include 'include/pages/image8.html' %}
                        {% endwith %}
                        {% if img.1 %}
                            {% with img.1 as image %}
                                {% include 'include/pages/image4.html' %}
                            {% endwith %}
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if img.2 %}
                            {% with img.2 as image %}
                                {% include 'include/pages/image4.html' %}
                            {% endwith %}
                        {% endif %}
                        {% if img.3 %}
                            {% with img.3 as image %}
                                {% include 'include/pages/image8.html' %}
                            {% endwith %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

            {% project_detail_texts as texts %}
            {% if texts.big_page_title or texts.small_page_title %}
                <div class="col-md-12 mb-20 header-text text-center">
                    <hr>
{#                    <h1 class="mb-10">{{ texts.big_page_title }}</h1>#}
                    <p>{{ texts.small_page_title|safe }}</p>
                </div>
            {% endif %}
        </div>
    </section>
    <!-- End project-details Area -->
{% endblock conteiner %}