{% extends '_base.html' %}

{% load static %}
{% load thumbnail %}

{% block title %}
our projects
{% endblock title %}

{% block conteiner %}

    <h1>{{ project.title }}</h1>
    {{ project.website }}
    <hr>
    <!-- Start gallery Area -->
    <section class="gallery-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 pb-40 header-text text-center">
                    <h1 class="pb-10">Our Recent Works may impress you</h1>
                    <p>
                        Who are in extremely love with eco friendly system.
                    </p>
                </div>
            </div>
            {% for pr in project_list %}
                <div class="row">
                    {% with pr.0 as project %}
                        <div class="col-lg-8">
                            <div class="single-gallery">
                                <div class="content">
                                    <a href="#" target="_blank">
                                      <div class="content-overlay"></div>
                                        {% with project.first_image as image %}
                                            {% if image %}
                                                {% thumbnail image "730x370" crop='center' as img %}
                                                    <img class="content-image img-fluid d-block mx-auto" style="border-radius: 10px" src="{{ img.url }}" height="370" alt="">
                                                {% endthumbnail %}
                                            {% else %}
                                                Sorry, no picture :(
                                            {% endif %}
                                        {% endwith %}
                                      <div class="content-details fadeIn-bottom">
                                        <h3 class="content-title mx-auto">{{ project.title }}</h3>
                                        <a href="{{ project.get_absolute_url }}"  class="primary-btn text-uppercase mt-20">More Details</a>
                                      </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                    {% with pr.1 as project %}
                        <div class="col-lg-4">
                            <div class="single-gallery">
                                <div class="content">
                                    <a href="#" target="_blank">
                                      <div class="content-overlay"></div>
                                        {% with project.first_image as image %}
                                            {% if image %}
                                                {% thumbnail image "350x370" crop='center' as img %}
                                                    <img class="content-image img-fluid d-block mx-auto" style="border-radius: 10px"  src="{{ img.url }}" height="370" alt="">
                                                {% endthumbnail %}
                                            {% else %}
                                                Sorry, no picture :(
                                            {% endif %}
                                        {% endwith %}
                                      <div class="content-details fadeIn-bottom">
                                        <h3 class="content-title mx-auto">{{ project.title }}</h3>
                                        <a href="{{ project.get_absolute_url }}" class="primary-btn text-uppercase mt-20">More Details</a>
                                      </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                    {% with pr.2 as project %}
                        <div class="col-lg-4">
                            <div class="single-gallery">
                                <div class="content">
                                    <a href="#" target="_blank">
                                      <div class="content-overlay"></div>
                                        {% with project.first_image as image %}
                                            {% if image %}
                                                {% thumbnail image "350x370" crop='center' as img %}
                                                    <img class="content-image img-fluid d-block mx-auto" style="border-radius: 10px"  src="{{ img.url }}" height="370" alt="">
                                                {% endthumbnail %}
                                            {% else %}
                                                Sorry, no picture :(
                                            {% endif %}
                                        {% endwith %}
                                      <div class="content-details fadeIn-bottom">
                                        <h3 class="content-title mx-auto">{{ project.title }}</h3>
                                        <a href="{{ project.get_absolute_url }}" class="primary-btn text-uppercase mt-20">More Details</a>
                                      </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                    {% with pr.3 as project %}
                        <div class="col-lg-8">
                            <div class="single-gallery">
                                <div class="content">
                                    <a href="#" target="_blank">
                                      <div class="content-overlay"></div>
                                        {% with project.first_image as image %}
                                            {% if image %}
                                                {% thumbnail image "730x370" crop='center' as img %}
                                                    <img class="content-image img-fluid d-block mx-auto" style="border-radius: 10px" src="{{ img.url }}" height="370" alt="">
                                                {% endthumbnail %}
                                            {% else %}
                                                Sorry, no picture :(
                                            {% endif %}
                                        {% endwith %}
                                      <div class="content-details fadeIn-bottom">
                                        <h3 class="content-title mx-auto">{{ project.title }}</h3>
                                        <a href="{{ project.get_absolute_url }}"  class="primary-btn text-uppercase mt-20">More Details</a>
                                      </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                    {% include 'include/pagination.html' %}
                </div>
            {% endfor %}

        </div>
    </section>
    <!-- End gallery Area -->

{% endblock conteiner %}