{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}

{% block title %}

{% endblock title %}

{% block title2 %}
{% endblock title2 %}

{% block top %}
    <p class="text-white link-nav">
        <a href="{% url 'pages:home' %}"> Home </a>
        <span class="lnr lnr-arrow-right"></span>
        <a href="{% url 'pages:projects' %}"> Projects </a>
    </p>
{% endblock top %}


{% block conteiner %}
    <!-- Start project-details Area -->
    <section class="project-details-area section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 project-details-left">
                    {% with project.first_image as image %}
                        {% if image %}
                            {% thumbnail image "520x295" crop='center' as img %}
                                <img class="img-fluid d-block mx-auto" style="border-radius: 10px"  src="{{ img.url }}" height="370" alt="">
                            {% endthumbnail %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="col-lg-6 project-details-right">
                    <h3 class="pb-20">{{ project.title }}</h3>
                    <p>
                        {{ project.short_description }}
                    </p>
                    <div class="details-info d-flex flex-row">
                        <ul class="names">
                            <li>Rating    </li>
                            {% if project.client %}
                                <li>Client    </li>
                            {% endif %}
                            {% if project.website %}
                                <li>Website   </li>
                            {% endif %}
                            <li>Completed </li>
                        </ul>
                        <ul class="desc">
                            <li>
                                <div class="star">
                                    : <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>

                                    {#<span class="fa fa-star"></span>#}
                                </div>
                            </li>
                            {% if project.client %}
                                <li>: {{ project.client }}</li>
                            {% endif %}
                            {% if project.website %}
                                <li>: <a href="{{ project.website }}">{{ project.website }}</a> </li>
                            {% endif %}
                            <li>: {{ project.completed }}</li>
                        </ul>
                    </div>
                    <div class="social-links mt-30">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
{#                        <a href="#"><i class="fa fa-dribbble"></i></a>#}
{#                        <a href="#"><i class="fa fa-behance"></i></a>#}
{#                        <a href="#"><i class="fa fa-linkedin"></i></a>#}
                    </div>
                </div>
                <div class="col-lg-12 project-desc mt-60 mb-60">
                    <p>
                        {{ project.description|safe }}
                    </p>
                </div>
            </div>
            {% if images %}
                {% for img in images %}
                    <div class="row">
                        {% with img.0 as image %}
                            {% include 'include/pages/image8.html' %}
                        {% endwith %}
                        {% if img.1 %}
                            {% with img.1 as image %}
                                {% include 'include/pages/image4.html' %}
                            {% endwith %}
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if img.2 %}
                            {% with img.2 as image %}
                                {% include 'include/pages/image4.html' %}
                            {% endwith %}
                        {% endif %}
                        {% if img.3 %}
                            {% with img.3 as image %}
                                {% include 'include/pages/image8.html' %}
                            {% endwith %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
    <!-- End project-details Area -->
{% endblock conteiner %}