{% extends '_base.html' %}

{% load static %}
{% load thumbnail %}

{% block title %}
our projects
{% endblock title %}

{% block conteiner %}

    <!-- Start gallery Area -->
    <section class="gallery-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 pb-40 header-text text-center">
                    <h1 class="pb-10">Our Recent Works may impress you</h1>
                    <p>
                        Who are in extremely love with eco friendly system.
                    </p>
                </div>
            </div>
            {% for pr in project_list %}
                <div class="row">
                    {% with pr.0 as project %}
                        {% include 'include/pages/projects8.html' %}
                    {% endwith %}
                    {% if pr.1 %}
                        {% with pr.1 as project %}
                            {% include 'include/pages/projects4.html' %}
                        {% endwith %}
                    {% endif %}
                </div>
                <div class="row">
                    {% if pr.2 %}
                        {% with pr.2 as project %}
                            {% include 'include/pages/projects4.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if pr.3 %}
                        {% with pr.3 as project %}
                            {% include 'include/pages/projects8.html' %}
                        {% endwith %}
                    {% endif %}
                </div>
                <div class="row">
                    {% if pr.4 %}
                        {% with pr.4 as project %}
                            {% include 'include/pages/projects4.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if pr.5 %}
                        {% with pr.5 as project %}
                            {% include 'include/pages/projects8.html' %}
                        {% endwith %}
                    {% endif %}
                </div>

            {% endfor %}
            {% include 'include/pagination.html' %}
        </div>
    </section>
    <!-- End gallery Area -->

{% endblock conteiner %}