{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Service' %} '{{ service.title }}'
{% endblock title %}

{% block title2 %}
    {{ service.title }}
{% endblock title2 %}

{% block top %}
    <p class="text-white link-nav">
        <a href="{% url 'pages:home' %}"> {% trans 'Home' %} </a>
        <span class="lnr lnr-arrow-right"></span>
        <a href="{% url 'pages:service_list' %}"> {% trans 'Service' %} </a>
    </p>
{% endblock top %}


{% block conteiner %}
    <section class="service-area section-gap" id="service">
        <div class="container">
            <div class="section-top-border p-4">
                <h1 class="mb-10">{{ service.title }}</h1>
                <div class="row">
                    <div class="col-lg-12">
                        <blockquote class="generic-blockquote">
                            <p style="color: black">{{ service.short_description }}</p>
                            <p style="color: black">{{ service.description }}</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock conteiner %}