{% extends 'base.html' %}
{% load parler_tags %}

{% load static %}
{% load i18n %}
{% load design_tags %}

{% block title %}
    {% success_texts as texts %}
    {% if texts.active %}
        {% if texts|get_translated_field:'browser_title' %}
            {% with texts|get_translated_field:'browser_title' as titl %}
                {{ titl|safe }}
            {% endwith %}
        {% else %}
            {% trans 'Contact Success' %}
        {% endif %}
    {% else %}
        {% trans 'Contact Success' %}
    {% endif %}
{% endblock title %}

{% block title2 %}
    {% success_texts as texts %}
    {% if texts.active %}
        {% if texts|get_translated_field:'banner_big_text' %}
            {% with texts|get_translated_field:'banner_big_text' as titl %}
                {{ titl|safe }}
            {% endwith %}
        {% endif %}
    {% else %}
        {% trans 'Contact Success' %}
    {% endif %}
{% endblock title2 %}

{% block top %}
    {% design_settings as design %}
    {% if design.top_navigation %}
        <p class="text-white link-nav">
            <a href="{% url 'pages:home' %}"> {% trans 'Home' %} </a>
            <span class="lnr lnr-arrow-right"></span>
            <a href="{% url 'pages:contact' %}"> {% trans 'Contact Us' %} </a>
        </p>
    {% endif %}
{% endblock top %}

{% block conteiner %}
    <div style="text-align: center">
        {% success_texts as texts %}
        {% if texts.active %}
            {% if texts|get_translated_field:'big_page_title' or texts|get_translated_field:'small_page_title' %}
                {% with texts|get_translated_field:'big_page_title' as big %}
                    <h1 class="mb-10 big-title-style">{{ texts.big_page_title|safe }}</h1>
                {% endwith %}
                {% with texts|get_translated_field:'small_page_title' as small %}
                    <p>{{ small|safe }}</p>
                {% endwith %}
                {% with texts|get_translated_field:'add_other_text' as other %}
                    <p class="mt-20">{{ other|safe }}</p>
                {% endwith %}
            {% endif %}
        {% endif %}
    </div>
{% endblock conteiner %}
