{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
    Contact Success
{% endblock title %}

{% block title2 %}
    Contact Success
{% endblock title2 %}

{% block top %}
    <p class="text-white link-nav">
        <a href="{% url 'pages:home' %}"> Home </a>
        <span class="lnr lnr-arrow-right"></span>
        <a href="{% url 'pages:contact' %}"> Contact Us </a>
    </p>
{% endblock top %}

{% block conteiner %}
    <div style="text-align: center">
        <h1><b>Thanks for being awesome! </b></h1>

        <h3><br>
            We have received your message and would like to thank you for writing to us. <br><br>
            If your inquiry is urgent, please use the telephone number listed below to talk to one of our staff members. <br><br>
            Otherwise, we will reply by email as soon as possible.
            <br><br><br>
            Talk to you soon, <b>Nasa arhitektuuriburoo.</b>
        </h3>
    </div>
{% endblock conteiner %}
