{% load parler_tags %}
{% load static %}
{% load i18n %}
{% load design_tags %}

<!-- start banner Area -->
{% home_big_banner_1840x950 as pic %}
<section class="banner-area relative" id="home" {% if pic.image and pic.active %} style="background:url({{ pic.image.url }}) center" {% endif %}>
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex justify-content-center align-items-center">
            <div class="banner-content col-lg-9 col-md-12 justify-content-center " style="font-family: 'Tangerine', serif; color: red;">
                {% home_texts as texts %}
                {% design_settings as design %}
                {% if texts.active %}
                    {% if texts|get_translated_field:'banner_big_text' or texts|get_translated_field:'small_page_title' %}
                        {% with texts|get_translated_field:'banner_big_text' as big %}
                            <h1 class="mb-10 title-size">{{ big|safe }}</h1>
                        {% endwith %}
                        {% with texts|get_translated_field:'small_page_title' as small %}
                            <p class="text-white mx-auto title-size">{{ small|safe }}</p>
                        {% endwith %}

                        {% if design|get_translated_field:'home_big_banner_button' %}
                            <a href="{% url 'pages:contact' %}" class="primary-btn header-btn text-uppercase mt-10">{{ design|get_translated_field:'home_big_banner_button' }}</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
