{% load static %}
{% load text_tags %}
{% top_banner_1840x300 as pic %}
<!-- start banner Area -->
{% top_banner_1840x300 as pic %}
<section class="banner-area relative" id="home" {% if pic.image %} style='background:url({{ pic.image.url }}) center' {% endif %}>
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    {% block title %}
                    {% endblock title %}
                </h1>
                {% block top %}
                {% endblock %}
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->