{% load static %}
{% load i18n %}
{% load text_tags %}
<!-- start banner Area -->

{% top_banner_1840x300 as pic %}
<section class="banner-area relative" id="home" {% if pic.image and pic.active %} style="background:url({{ pic.image.url }}) center" {% endif %}>
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    {% block title2 %}

                    {% endblock title2 %}
                </h1>
                {% block top %}
                {% endblock %}

            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->