{% load static %}
{% load i18n %}
{% load text_tags %}

<!-- start banner Area -->
{% home_big_banner_1840x950 as pic %}
<section class="banner-area relative" id="home" {% if pic.image %} style="background:url({{ pic.image.url }}) center" {% endif %}>
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex justify-content-center align-items-center">
            <div class="banner-content col-lg-9 col-md-12 justify-content-center ">
                {% home_texts as texts %}
                {% if texts.big_page_title or texts.small_page_title %}
                    <h1 class="mb-10">{{ texts.big_page_title }}</h1>
                    <p class="text-white mx-auto">{{ texts.small_page_title }}</p>
                {% else %}
                    <h1>
                        {% blocktrans %}
                            Architecture. <br>
                            Interior architecture. <br>
                            Concept Design.
                        {% endblocktrans %}
                    </h1>
                    <p class="text-white mx-auto">
                        {% blocktrans %}
                            Kauss Arhitektuur is an architecture and design bureau operating in Tallinn since 2004. <br>
                            Our team is united by an interest in associating the pragmatic and the rational with the fine arts.
                        {% endblocktrans %}
                    </p>
                {% endif %}
                <a href="{% url 'pages:contact' %}" class="primary-btn header-btn text-uppercase mt-10">{% trans 'Get Started' %}</a>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
