{% load static %}
{% load i18n %}

<!-- Start callto-action Area -->
<section class="callto-action-area pt-40 pb-30">
    <div class="container">
        <div class="row justify-content-center pb-40 ">
            <div class="callto-action-wrap col-lg-12 relative section-gap">
                <div class="content">
                    <h1>
                        Looking for a <br>
                        quality and affordable interior design?
                    </h1>
                    <p class="mx-auto">
                        {% trans 'inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace.' %}
                    </p>
                    <a href="{% url 'pages:contact' %}" class="primary-btn text-uppercase">{% trans 'Request quote now' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End callto-action Area -->
