{% load parler_tags %}
{% load static %}
{% load i18n %}
{% load design_tags %}

<!-- Start callto-action Area -->
<section class="callto-action-area pt-50 pb-10">
    <div class="container">
        <div class="row justify-content-center ">
            {% home_call_to_banner_1110x350 as pic %}
            <div class="callto-action-wrap col-lg-12 relative section-gap" {% if pic.image %} style='background:-webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url({{ pic.image.url }}) no-repeat center ' {% endif %}>
{#            background:-webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../../media/images/defaults/call-action-bg.jpg)  media/images/news.jpg#}
                <div class="content pt-40 pb-0 text-center">
                    {% home_callto_texts as texts %}
                    {% if texts.active %}
                        {% if texts|get_translated_field:'big_page_title' or texts|get_translated_field:'small_page_title' %}
                            {% with texts|get_translated_field:'big_page_title' as big %}
                                <h1 class="mb-10">{{ big|safe }}</h1>

                            {% endwith %}
                            {% with texts|get_translated_field:'small_page_title' as small %}
                                <p class="text-white mx-auto">{{ small|safe }}</p>
                            {% endwith %}

                            {% if design|get_translated_field:'callto_banner_button_text' %}
                                <a href="{% url 'pages:contact' %}" class="genric-btn {{ design.get_button }} text-uppercase mt-10">{{ design|get_translated_field:'callto_banner_button_text' }} {% if 'arrow' in design.button_form %}<span class="lnr lnr-arrow-right"></span>{% endif %}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End callto-action Area -->
