{% load parler_tags %}
{% load static %}
{% load i18n %}
{% load design_tags %}

<!-- Start gallery Area -->
<section class="gallery-area pt-60">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 pb-40 header-text text-center">
                {% project_list_texts as texts %}
                {% if texts.active %}
                    {% if texts|get_translated_field:'big_page_title' or texts|get_translated_field:'small_page_title' %}
                        <a href="{% url 'pages:projects' %}">
                            {% with texts|get_translated_field:'big_page_title' as big %}
                                <h1 class="mb-10 big-title-style">{{ texts.big_page_title|safe }}</h1>
                            {% endwith %}
                        </a>
                            {% with texts|get_translated_field:'small_page_title' as small %}
                                <p>{{ small|safe }}</p>
                            {% endwith %}

                    {% endif %}
                {% else %}
                    <a href="{% url 'pages:projects' %}">
                        <h1 class="pb-10">{% trans 'Our Recent Works may impress you' %}</h1>
                    </a>
                {% endif %}

            </div>
        </div>
        <div class="row">
            {% if hprojects.0 %}
                {% with hprojects.0 as project %}
                    {% include 'include/pages/projects8.html' %}
                {% endwith %}
            {% endif %}
            {% if hprojects.1 %}
                {% with hprojects.1 as project %}
                    {% include 'include/pages/projects4.html' %}
                {% endwith %}
            {% endif %}
        </div>
        <div class="row">
            {% if hprojects.2 %}
                {% with hprojects.2 as project %}
                    {% include 'include/pages/projects4.html' %}
                {% endwith %}
            {% endif %}
            {% if hprojects.3 %}
                {% with hprojects.3 as project %}
                    {% include 'include/pages/projects8.html' %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
</section>
<!-- End gallery Area -->
