{% load static %}

<header id="header" id="home">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                    <a href="tel:+372 506 5668">+372 506 5668</a>
                    <a href="mailto:info@nasa.ee">info@nasa.ee</a>
                </div>
                <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li
                    </ul>
                </div>
            </div>
        </div>
    </div>
{#         TEHTUD TÖÖD TEENUSED INIMESED UUDISED KONTAKT In English#}
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
          <div id="logo">
            <a href="index.html"><img src="{%  static 'img/logo.png' %}" alt="" title="" /></a>
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="index.html">AVALEHT</a></li>
                <li class="menu-has-children"><a href="">TEHTUD TÖÖD</a>
{#                  Valik töid Konkurss Sisearhitektuur Avalik Korterelamu Eramu Väikevorm#}
                    <ul>
                        <li><a href="blog-home.html">Valik töid</a></li>
                        <li><a href="blog-single.html">Konkurss</a></li>
                    </ul>
                </li>
                <li><a href="services.html">TEENUSED</a></li>
                <li><a href="projects.html">INIMESED</a></li>
                <li><a href="about.html">UUDISED</a></li>


{#              <li class="menu-has-children"><a href="">Pages</a>#}
{#                <ul>#}
{#                    <li><a href="project-details.html">Project Details</a></li>#}
{#                    <li><a href="elements.html">Elements</a></li>#}
{#                    <li class="menu-has-children"><a href="">Level 2 </a>#}
{#                        <ul>#}
{#                            <li><a href="#">Item One</a></li>#}
{#                            <li><a href="#">Item Two</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                </ul>#}
{#              </li>#}
                <li><a href="contact.html">Kontakt</a></li>
                <li><a href="contact.html">English</a></li>
            </ul>
          </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->
