{% load static %}
{% load page_tags %}
{% load i18n parler_tags %}

<header id="header" id="home">
    <div class="header-top">
        <div class="container">
            <div class="row">
                {% company as contacts %}
                {% if contacts.active %}

                    <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                        <a href="tel:{{ contacts.phone_number }}">{{ contacts.phone_number }}</a>
                        <a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                        <ul>
                            <li><a href="{% url 'pages:elements' %}"> {% trans 'Other Design Elements' %}</a></li>
                            <li></li>
                            {% if contacts.facebook %}
                                <li><a href="{{ contacts.facebook }}" target="_blank"><i class="fa fa-facebook" style="font-size: 20px"></i></a></li>
                            {% endif %}
                            {% if contacts.instagram %}
                                <li><a href="{{ contacts.instagram }}" target="_blank"><i class="fa fa-instagram" style="font-size: 20px"></i></a></li>
                            {% endif %}
                            {% if contacts.twitter %}
                                <li><a href="{{ contacts.twitter }}" target="_blank"><i class="fa fa-twitter" style="font-size: 20px"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% else %}

                    <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                        <a href="tel:+372 506 5668">+372 555 5665</a>
                        <a href="mailto:info@nasa.ee">info@default.ee</a>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                        <ul>
                            <li><a href="{% url 'pages:elements' %}"> {% trans 'Other Design Elements' %}</a></li>
                            <li></li>
                        </ul>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                {% company as contacts %}
                {% if contacts.active %}
                    {% if contacts.logo %}
                        <a href="{% url 'pages:home' %}"><img class="img-fluid d-block mx-auto" src="{{ contacts.logo.url }}" height="30" alt=""></a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'pages:home' %}"><img src="{%  static 'img/logo.png' %}" alt="" title="" /></a>
                {% endif %}
            </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="{% url 'pages:home' %}">{% trans 'AVALEHT' %}</a></li>
                <li class="menu-has-children"><a href="{% url 'pages:projects' %}">{% trans 'TEHTUD TÖÖD' %}</a>
{#                  Valik töid Konkurss Sisearhitektuur Avalik Korterelamu Eramu Väikevorm#}
                    <ul>
                        <li><a href="{% url 'pages:projects' %}">{% trans 'All Projects' %}</a></li>
                        {% project_categories as project_categories %}
                            {% for category in project_categories %}
                                <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                            {% endfor %}
                    </ul>
                </li>
                <li class="menu-has-children"><a href="{% url 'pages:people' %}">{% trans 'INIMESED' %}</a>
                    <ul>
                        <li><a href="{% url 'pages:people' %}">{% trans 'All People' %}</a></li>
                        {% profile_categories as profile_categories %}
                            {% for category in profile_categories %}
                                <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                            {% endfor %}
                    </ul>
                </li>
                <li><a href="{% url 'pages:service_list' %}">{% trans 'TEENUSED' %}</a></li>
                <li><a href="{% url 'pages:news' %}">{% trans 'UUDISED' %}</a></li>


{#              <li class="menu-has-children"><a href="">Pages</a>#}
{#                <ul>#}
{#                    <li><a href="project-details.html">Project Details</a></li>#}
{#                    <li><a href="elements.html">Elements</a></li>#}
{#                    <li class="menu-has-children"><a href="">Level 2 </a>#}
{#                        <ul>#}
{#                            <li><a href="#">Item One</a></li>#}
{#                            <li><a href="#">Item Two</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                </ul>#}
{#              </li>#}
                <li><a href="{% url 'pages:about' %}">{% trans 'About Us' %}</a></li>
                <li><a href="{% url 'pages:contact' %}">{% trans 'Kontakt' %}</a></li>


                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}


                <li class="menu-has-children">
                    <a href="/{{ LANGUAGE_CODE.code }}/">
                        {{ LANGUAGE_CODE|language_name_local }}
                    </a>
                    <ul>
                        {% for language in languages %}
                            {% get_translated_url LANGUAGE_CODE as tr_url %}
                            <li>
{#                                {% if tr_url %}<link rel="alternate" hreflang="{{ language.name_local }}" href="{{ tr_url }}" />{% endif %}#}
                                <a href="/{{ language.code }}/">
                                    {{ language.name_local }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
          </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->
