{% load thumbnail %}
{% load static %}
{% load i18n %}
{% load text_tags %}

<!-- Start blog Area -->
{% if hnews %}
    <section class="blog-area section-gap mb-5 pb-10">
        <div class="container mb-0 pb-0">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-10 pt-60 col-lg-9">
                    <div class="title text-center">
                        {% news_list_texts as texts %}
                        {% if texts.big_page_title or texts.small_page_title %}
                            <h1 class="mb-10">{{ texts.big_page_title }}</h1>
                            <p>{{ texts.small_page_title }}</p>
                        {% else %}
                            <h1 class="mb-10">{% trans 'Last news' %}</h1>
                            <p>{% trans 'news news news news' %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-blog-carusel">
                    {% for item in hnews %}
                        <div class="single-blog-post item">
                            <a href="{{ item.get_absolute_url }}" style="color: inherit">
                                <div class="thumb">
                                    {% thumbnail item.image "350x250" crop='center' as img %}
                                        <img class="content-image img-fluid d-block mx-auto" style="border-radius: 10px" src="{{ img.url }}" height="250" alt="">
                                    {% endthumbnail %}
                                </div>
                                <div class="details">
        {#                            <div class="tags">#}
        {#                                <ul>#}
        {#                                    <li>#}
        {#                                        <a href="#">Travel</a>#}
        {#                                    </li>#}
        {#                                    <li>#}
        {#                                        <a href="#">Life Style</a>#}
        {#                                    </li>#}
        {#                                </ul>#}
        {#                            </div>#}
                                    <h4 class="title">{{ item.title }}</h4>
                                    <h6 class="date pb-10" >{{ item.published }}</h6>
                                    <p>
                                        {{ item.short_description|safe }}
                                    </p>

                                </div>
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
{% endif %}
<!-- End blog Area -->
