{% load static %}
{% load i18n %}
{% load text_tags %}

<!-- Start service Area -->
{% if hservices %}
    <section class="service-area section-gap" id="service">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 pb-50 pt-40 header-text text-center">
                    {% service_list_texts as texts %}
                    {% if texts.big_page_title or texts.small_page_title %}
                        <h1 class="mb-10">{{ texts.big_page_title }}</h1>
                        <p>{{ texts.small_page_title }}</p>
                    {% else %}
                        <h1 class="mb-10">{% trans 'What we offer to our clients' %}</h1>
                        <p>
                            {% blocktrans %}
                                Meil on üle kümne aasta jagu kogemusi väga erinevate töödega arhitektuuri ja sisearhitektuuri valdkonnas.
                                Aastast 2004 oleme taotlenud suurusjärgus 200+ ehitusluba.
                                Omame suuri kogemusi miljööaladele projekterimisel ning fikseeritud eelarvega töötamisel.
                                Koostöös klientidega oleme välja arendanud mugava protsessijuhtimise mudeli, mille käigus koostame tegevuskava
                                ja teavitame klienti projekti arengutest kindla regulaarsusega.
                            {% endblocktrans %}
                        </p>
                    {% endif %}
                </div>
            </div>
            {% for row in hservices %}
                <div class="row mb-20 justify-content-center">
                    {% for service in row %}
                        <div class="col-lg-4">
                            <div class="single-service">
                                <a href="{{ service.get_absolute_url }}"  style="color: inherit">
                                    <h4>{{ service.title }}</h4>
                                    <p>
                                        {{ service.short_description }}
                                    </p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
    <!-- End service Area -->
