{% load parler_tags %}
{% load static %}
{% load i18n %}
{% load design_tags %}

<!-- Start service Area -->
{% if hservices %}
    <section class="service-area section-gap" id="service">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 pb-50 pt-40 header-text text-center">
                    {% service_list_texts as texts %}
                    {% if texts.active %}
                        {% if texts|get_translated_field:'big_page_title' or texts|get_translated_field:'small_page_title' %}
                            <a href="{% url 'pages:service_list' %}">
                                {% with texts|get_translated_field:'big_page_title' as big %}
                                    <h1 class="mb-10">{{ texts.big_page_title|safe }}</h1>
                                {% endwith %}
                            </a>
                                {% with texts|get_translated_field:'small_page_title' as small %}
                                    <p>{{ small|safe }}</p>
                                {% endwith %}
                        {% endif %}
                    {% else %}
                        <a href="{% url 'pages:service_list' %}">
                            <h1 class="mb-10">{% trans 'Services' %}</h1>
                        </a>
                    {% endif %}

                </div>
            </div>
            {% for row in hservices %}
                <div class="row mb-20">
                    {% for service in row %}
                        <div class="col-lg-4">
                            <div class="single-service ">
                                <a href="{{ service.get_absolute_url }}"  style="color: inherit">
                                    <h4>{{ service.title }}</h4>
                                    <p>
                                        {{ service.short_description }}
                                    </p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            {% endfor %}
{#            <div class="row">#}
{#                <div class="col-lg-4">#}
{#                    <div class="single-service">#}
{#                        <a href="{% url 'pages:service_list' %}"  style="color: inherit">#}
{#                            <h4>{% trans 'More Services...' %}</h4>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </section>
{% endif %}
    <!-- End service Area -->
