{% load parler_tags %}
{% load thumbnail %}
{% load static %}
{% load i18n %}
{% load design_tags %}

<!-- Start blog Area -->
{% if hteam %}
    <section class="blog-area section-gap pb-2">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-20 pt-30 col-lg-9">
                    <div class="title text-center">
                        {% people_list_texts as texts %}
                        {% if texts.active %}
                            {% if texts|get_translated_field:'big_page_title' or texts|get_translated_field:'small_page_title' %}
                                <a href="{% url 'pages:people' %}">
                                    {% with texts|get_translated_field:'big_page_title' as big %}
                                        <h1 class="mb-10">{{ texts.big_page_title|safe }}</h1>
                                    {% endwith %}
                                </a>
                                    {% with texts|get_translated_field:'small_page_title' as small %}
                                        <p>{{ small|safe }}</p>
                                    {% endwith %}
                            {% endif %}
                        {% else %}
                            <a href="{% url 'pages:people' %}">
                                <h1 class="mb-10">{% trans 'Our Team' %}</h1>
                            </a>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-blog-carusel">
                    {% for item in hteam %}
                        <div class="single-blog-post item">
                            <a href="{{ item.get_absolute_url }}" style="color: inherit">
                                <div class="thumb">
                                    {% thumbnail item.image "250x250" crop='center' as img %}
                                        <img class="content-image img-fluid d-block mx-auto" style="border-radius: 10px" src="{{ img.url }}" height="250" alt="">
                                    {% endthumbnail %}
                                </div>
                                <div class="details">
                                    <h4 class="title">{{ item.get_name }}</h4>
                                    <p>
                                        {{ item.get_short_description|safe }}
                                    </p>
                                    <h6 class="date pb-10" >from {{ item.start_work }}</h6>

                                    {% category_settings as category_set %}
                                    {% if category_set.profile_category %}
                                        <div class="tags">
                                            <ul>
                                                {% for categ in item.profile_category.all %}
                                                    <li class="mb-2">
                                                        <a href="{{ categ.get_absolute_url }}">{{ categ.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
{% endif %}
<!-- End blog Area -->
