{% extends 'base.html' %}
{% load parler_tags %}
{% load thumbnail %}

{% load static %}
{% load i18n %}
{% load design_tags %}

{% block title %}
    {% service_list_texts as texts %}
    {% if texts.active %}
        {% if texts|get_translated_field:'browser_title' %}
            {% with texts|get_translated_field:'browser_title' as titl %}
                {{ titl|safe }}
            {% endwith %}
        {% else %}
            {% trans 'Our Services' %}
        {% endif %}
    {% else %}
        {% trans 'Our Services' %}
    {% endif %}
 {% endblock title %}

{% block title2 %}
    {% service_list_texts as texts %}
    {% if texts.active %}
        {% if texts|get_translated_field:'banner_big_text' %}
            {% with texts|get_translated_field:'banner_big_text' as titl %}
                <h1 class="banner-title-style"> {{ titl|safe }} </h1>
            {% endwith %}
        {% endif %}
    {% else %}
        <h1 class="banner-title-style"> {% trans 'Our Services' %}</h1>
    {% endif %}
{% endblock title2 %}

{% block top %}
    {% design_settings as design %}
    {% if design.top_navigation %}
        <p class="text-white link-nav">
            <a href="{% url 'pages:home' %}"> {% trans 'Home' %} </a>
            <span class="lnr lnr-arrow-right"></span>
            <a href="{% url 'pages:service_list' %}"> {% trans 'Service' %} </a>
        </p>
    {% endif %}
{% endblock top %}

{% block conteiner %}

    <!-- Start service Area -->
    <section class="service-area section-gap" id="service">
        <div class="container">

            {% service_list_texts as texts %}
            {% if texts.active %}
                <div class="justify-content-center">
                    <div class="col-md-12 pb-50 header-text text-center">
                        {% if texts|get_translated_field:'big_page_title' or texts|get_translated_field:'small_page_title' %}
                            {% with texts|get_translated_field:'big_page_title' as big %}
                                <h1 class="mb-10 big-title-style">{{ big|safe }}</h1>
                            {% endwith %}
                            {% with texts|get_translated_field:'small_page_title' as small %}
                                <div class="small-title-style">{{ small|safe }}</div>
                            {% endwith %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% for service in allservices %}
                <a href="{{ service.get_absolute_url }}">
                    <div class="section-top-border p-4">
                        <h3 class="mb-10 main-style">{{ service.title }}</h3>
                        <div class="mb-15">
                            {% with service.image as image %}
                                {% if image %}
                                    {% thumbnail image "200x200" crop='center' as img %}
                                        <img class="img-fluid d-block" style="border-radius: 10px"  src="{{ img.url }}" height="600" alt="">
                                    {% endthumbnail %}
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <blockquote class="generic-blockquote">
                                    <p class="main-style">{{ service.short_description }}</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
            {% include 'include/pagination.html' %}
        </div>
    </section>
    <!-- End service Area -->

{% endblock conteiner %}