.pagination {
    text-align: center;
    margin-top: 1em;
    margin-left: 40%;

}

.pagination a {
    text-decoration: none;
}

.pagination-current, 
.pagination-total {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: black;
    background-color: #30BF61;
    margin: 2px;
}

.pagination-total {
    background-color: lightgrey;
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    color: lightgrey;
    font-size: 1.3em;
}

.pagination-of {
    color: lightgrey;
    padding: 0 1em;
}

.pagination-action:hover {
    color: #3354AA;
}

.ctl {
    padding-left: 5%;
    margin-left: 0;
}
.ctr {
    padding-right: 5%;
    margin-right: 0;

}
.ttt {
    margin-top: 15%;
}
.ttl {
    text-align: left;
}
.ttr {
    text-align: right;
}
.ttb {
    margin-bottom: 5%;
}
.lll {
    margin-right: -15%;
}

.module {
    padding: 1rem;
    color: white;
    border-width: 3px;
    border-style: solid;
    border-image:
        linear-gradient(
            to bottom,
            gray,
            rgba(0, 0, 0, 0)
        ) 1 100%;
}