<!DOCTYPE html>

{% load static %}
{% load i18n %}
{% load page_tags %}

<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}">
    <!-- Author Meta -->
    <meta name="author" content="Negative Space">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->

    <title>
        {% block title %}

        {% endblock title %}
        {% company as contact %}
        {% if contact.active %}
            , {{ contact.company_name }}
        {% else %}
            , {% trans 'Default arhitektuuriburoo' %}
        {% endif %}
    </title>
{#    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine&display=swap">#}

{#    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap">#}
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Lato?query=lato">
{#    <link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto?query=roboto">#}
{#    <link rel="stylesheet" href="https://fonts.google.com/specimen/Open+Sans?query=open+sans">#}
{#    <link rel="stylesheet" href="https://fonts.google.com/specimen/Caveat?query=caveat">#}
{#    <link rel="stylesheet" href="https://fonts.google.com/specimen/Yanone+Kaffeesatz?query=yanone">#}
{#    <link rel="stylesheet" href="https://fonts.google.com/specimen/Inconsolata?query=incon">#}
{#    <link rel="stylesheet" href="https://fonts.google.com/specimen/Rubik?query=rubik">#}
{#    <link rel="stylesheet" href="https://fonts.google.com/specimen/Merriweather?query=caveat">#}
{##}


{#    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">#}
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/adds.css' %}">
{#    <style>#}
{#        .font {#}
{#            font-family: 'Tangerine', serif;#}
{#            text-decoration-color: red;#}
{#            font-size: 32px;#}
{#        }#}
{#        .font_big {#}
{#            font-family: 'Tangerine', serif;#}
{#            color: red;#}
{#            font-size: 72px;#}
{#        }#}
{##}
{#    </style>#}
</head>

{#<body style="background: linear-gradient(0deg, rgba(237,237,249,1) 0%, rgba(74,74,74,1) 61%, rgba(22,22,22,1) 100%);>#}
<body>
{#    style="background-color: midnightblue"#}
    {% include 'include/header.html' %}

    {% block base %}

    {% endblock base %}

    {% include 'include/footer.html' %}

    <!--
    JS
    ============================================= -->

    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="{% static 'js/easing.min.js' %}"></script>
    <script src="{% static 'js/hoverIntent.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>