{% load thumbnail %}

<div class="col-lg-4">
    <div class="single-gallery">
        <div class="content">
            <a href="{{ project.get_absolute_url }}" target="_blank">
              <div class="content-overlay"></div>
                {% with project.first_image as image %}
                    {% if image %}
                        {% thumbnail image "350x370" crop='center' as img %}
                            <img class="content-image img-fluid d-block mx-auto" style="border-radius: 10px"  src="{{ img.url }}" height="370" alt="">
                        {% endthumbnail %}
                    {% else %}
                        Sorry, no picture :(
                    {% endif %}
                {% endwith %}
              <div class="content-details fadeIn-bottom">
                <h3 class="content-title mx-auto">{{ project.title }}</h3>
                <a href="{{ project.get_absolute_url }}" class="primary-btn text-uppercase mt-20">More Details</a>
              </div>
            </a>
        </div>
    </div>
</div>
